services:
  ubuntu:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        AUTHORIZED_KEY: ${AUTHORIZED_KEY}
    ports:
      - "2222:22"
    volumes:
      - ./src:/serverkit
    tty: true
    stdin_open: true
    privileged: true
